@media screen and (min-width: 1600px) {
   
     
}
@media screen and (min-width: 1024px) and (max-width: 1119px) {
    #f-1{
    background-image: url(../img/Paginas%20Web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}
#f-2{
    background-image: url(../img/App%20Development.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}
#f-3{
    background-image: url(../img/Servicio%20Redes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}
#f-4{
    background-image: url(../img/Email%20Marketing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}

#f-5{
    background-image: url(../img/Dise%C3%B1o%20Corporativo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}
#f-6{
    background-image: url(../img/Facebook%20Ads.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}

#f-7{
    background-image: url(../img/AdWords.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}

#f-8{
    background-image: url(../img/Fotos%20y%20Videos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 4em;
}
    .nuestro-servicio h3{
font-size: 20px;
}
   
}
@media screen and (min-width: 764px) and (max-width: 1023px) {
    .sec-2 {
    width: 100%;
    margin: 0 auto;
}
    .ventajas .v-1{
    height: 65px;
}
.ventajas .v-2{
    height: 65px;
}
    
     .nuestro-servicio-2 .col-sm-6{
                    
                padding-right: 0px; 
                padding-left: 0px; 
                margin-bottom: -60px;
            }
            .nuestro-servicio-2 h3{
            position: relative;
			bottom:50px;
			color:#fff;
			background-color:#000;
			padding:2px 0px;
			opacity:0.5;
			font-weight:bold;
            }
}
@media screen and (min-width: 300px) and (max-width: 763px) {
    .anunciarte img {
    margin-top: 15px;
    height: 40px;
}
    .sec-2 {
    width: 100%;
    margin: 0 auto;
}
    .v12 {
    margin-bottom: 80px;
}
    .ventajas .v-1{
    height: 65px;
}
.ventajas .v-2{
    height: 65px;
}
    .fondo-contacto {
    padding-top: 30px;
    }
    
     .nuestro-servicio-2 .col-sm-6{
                    
                padding-right: 0px; 
                padding-left: 0px; 
                margin-bottom: -60px;
            }
            .nuestro-servicio-2 h3{
            position: relative;
			bottom:50px;
			color:#fff;
			background-color:#000;
			padding:2px 0px;
			opacity:0.5;
			font

}






@media screen and (min-width: 1301px) and (max-width: 1600px) {
    #fondo-adwords{
    height: 22em;
}
}


@media screen and (min-width: 1100px) and (max-width: 1300px) {
    #fondo-adwords{
    height: 20em;
}
}
@media screen and (min-width: 900px) and (max-width: 1099px) {
    #fondo-adwords{
    height: 15em;
}
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    #fondo-adwords{
    height: 12em;
}
}
@media screen and (min-width: 600px) and (max-width: 899px) {
    #fondo-adwords{
    height: 12em;
}
}

@media screen and (min-width: 425px) and (max-width: 599px) {
    #fondo-adwords{
    height: 121px;
}
}
@media screen and (max-width: 424px) {
    #fondo-adwords{
    height: 80px;
}
}


@media screen and (min-width: 1024px){
    .nosotros p{
        font-size: 24px;
    }
    .icom{
    margin-left: -7px;
}
}