*{
    font-family: 'Roboto', sans-serif;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #27439c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #27439c;
}
.menu{
    background: #fdfdfd;
    margin-top: 15px;
}
footer{
    background: #25272e;
    color: #b7b7b7;
}
footer h4{
    color: white;
}
footer ul li {
    list-style: none;
}
footer ul li a{
    color: #b7b7b7;
}
footer a:hover, footer a:focus {
    transition: 1.5s;
    color: #fff200;
    text-decoration: none;
}
.redes span i{
    font-size: 20px;
    padding-left: 15px;
    
}
.redes span i face:hover{
    color: blue;
}