*{
    font-family: 'Roboto', sans-serif;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #27439c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: #27439c;
}
.menu{
    background: #fdfdfd;
    margin-top: 15px;
}
footer{
    background: #25272e;
    color: #b7b7b7;
    margin-top: 50px
}
footer h4{
    color: white;
}
footer ul li {
    list-style: none;
}
footer ul li a{
    color: #b7b7b7;
}
footer a:hover, footer a:focus {
    transition: 1.5s;
    color: #fff200;
    text-decoration: none;
}
.redes span i{
    font-size: 20px;
    padding-left: 15px;
    
}
.redes span i face:hover{
    color: blue;
}
.redes a{
    color: white;
}
.redes .face-h:hover{
    transition: 1s;
    color: #3b5a9a !important;
}
.redes .google-h:hover{
    transition: 1s;
    color: #dd4b39 !important;
}
footer{
    padding-top:70px;
}
.sec-1{
    padding-bottom: 70px;
}
hr{
   
}
.sec-2{
     width: 81%;
    margin: 0 auto;
}

.marca-de-agua {
    background: #000 url(URL-MARCA-DE-AGUA);
    width: 500px;
    height: 341px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.marca-de-agua img{
    padding:0;
    width:100%;
    height:100%; 
    margin:0;
    filter:alpha(opacity=90);
    opacity:.90;
}
#f-1{
    background-image: url(../img/Paginas%20Web.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}
#f-2{
    background-image: url(../img/App%20Development.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}
#f-3{
    background-image: url(../img/Servicio%20Redes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}
#f-4{
    background-image: url(../img/Email%20Marketing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}

#f-5{
    background-image: url(../img/Dise%C3%B1o%20Corporativo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}
#f-6{
    background-image: url(../img/Facebook%20Ads.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}

#f-7{
    background-image: url(../img/AdWords.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}

#f-8{
    background-image: url(../img/Fotos%20y%20Videos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: contain;
    padding-bottom: 8em;
}
.nuestro-servicio h3{
 color: white;
}
.anunciarte img{
    height: 70px;
}
.anunciarte h4{
    margin-top: 26px;
}
.contacto{
    background: #f4f4f4;
}